<!doctype html>

<html>
    <head>
            <style type="text/css">
                .error {
                    color: red;
                    display:inline-block;
                }
            </style>
        <title>Build a Blog!</title>
    </head>
<body>
    <a id="main_page" href="/blog">Main Blog Page</a>

    <a id="Add_a_post" href="/newpost">Add a new blog entry</a>

    <a id="login" href="/login"> Login</a>

    <a id="logout" href="/logout"> Log out</a>

    <a id="home" href="/"> All Users Home Page</a>
    {% block content %}
    {% endblock %}

</body>
</html>