{% extends "base.html" %}

{% block content %}

    {% if posts|length == 0 %}
        <p>No Posts yet</p>
        {% else %}
            
                {% for post in posts %}
                 <h2><a href="./blog?id={{post.id}}">{{post.title}}</a> </h2> 
                    <p>{{post.body}}</p>
                     
                    <p>Written by: <a href="./blog?user_id={{post.owner_id}}">{{post.owner.username}}</a></p>  
 
                    
                    </form>  
                
                {% endfor %}
            
    {% endif %}
{% endblock %}


